@model SSProjectFollowUp.ViewModels.ProjectVM
<div class="delProjectDetail">
    @{
        var Desc = "";
        if (Model != null)
        {
            Desc = @Model.project.Description;
        }
        else { Desc = ""; }
    }
    <div>
        <label class="updown control-label col col-12">Description</label>
        <textarea class="updown  control-label col col-12" readonly id="description">@Desc </textarea>
    </div>
</div>
