@model SSProjectFollowUp.ViewModels.ProjectVM

<div class="row delResult0">
    <div class="form-control">
        <label>User</label>
        <input asp-for="projectItemResult.IncharCharge" readonly />
    </div>
    <div class="form-control">
        <label>Result</label>
        <input asp-for="projectItemResult.PSRResult" readonly />
    </div>
    <div class="form-control">
        <label>Comment</label>
        <textarea asp-for="projectItemResult.PSRComment" readonly></textarea>
    </div>
    
</div>

