@model SSProjectFollowUp.ViewModels.ProjectVM
<div>
    <table class="table table-bordered  table-hover" style="width:100%">
        <thead>
            <tr>
                <th>
                    P.Name
                </th>
                <th>
                    Level
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    for (int i = 0; i < Model.projects.Count(); i++)
                    {
                        var classs = "";
                        if (i==0)
                        {
                            classs = "table-active";
                        }
                        <tr class="rowie @classs">
                            <td name="submit" class="projectt" type="button" id="process" value1=@Model.projects.ToList()[i].PId value2=@Model.projects.ToList()[i].PLevel> @Model.projects.ToList()[i].Name</td>
                            <td name="submit" class="projectt" type="button" id="process" value1=@Model.projects.ToList()[i].PId value2=@Model.projects.ToList()[i].PLevel> @Model.projects.ToList()[i].ProjectLevel.Level</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>

