@model SSProjectFollowUp.ViewModels.ProjectVM
<form asp-controller="" asp-action="" enctype="multipart/form-data" id="formm">
    <div class="buttons">
        <a asp-controller="Project" asp-action="CreateProject" class="btn btn-primary">Create New Project</a>
    </div>
    <div class="row ">
        <div class="col col-md-4" id="LeftFull">
            <partial name="_Project.cshtml" />
        </div>
        <div class="col col-md-8">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-Details-tab" data-bs-toggle="tab" data-bs-target="#nav-Details" type="button" role="tab" aria-controls="nav-Details" aria-selected="true">Details</button>
                    <button class="nav-link" id="nav-List-tab" data-bs-toggle="tab" data-bs-target="#nav-List" type="button" role="tab" aria-controls="nav-List" aria-selected="false">List</button>
                    <button class="nav-link" hidden id="nav-ItemDetail-tab" data-bs-toggle="tab" data-bs-target="#nav-Item-Detail" type="button" role="tab" aria-controls="nav-Item-Detail" aria-selected="false">DetailToDo</button>
                    <button class="nav-link" id="nav-Gantt-tab" data-bs-toggle="tab" data-bs-target="#nav-Gantt" type="button" role="tab" aria-controls="nav-Gantt" aria-selected="false" disabled>Gantt</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-Details" role="tabpanel" aria-labelledby="nav-Details-tab" tabindex="0">
                    <div class="ProjectDetail">
                    </div>
                    <div class="ProjectFile">
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-List" role="tabpanel" aria-labelledby="nav-List-tab" tabindex="0">
                    <div class="ProjectFill">
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-Item-Detail" role="tabpanel" aria-labelledby="nav-ItemDetail-tab" tabindex="0">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab1" role="tablist">
                            <button class="nav-link active" id="nav2-Details-tab" data-bs-toggle="tab" data-bs-target="#nav2-Details" type="button" role="tab" aria-controls="nav-Details" hidden aria-selected="true">Details</button>
                            <button class="nav-link" id="nav2-Result-tab" data-bs-toggle="tab" data-bs-target="#nav2-Result" type="button" role="tab" aria-controls="nav2-Result" hidden aria-selected="false">Result</button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent2">
                        <div class="tab-pane fade show active" id="nav2-Details" role="tabpanel" aria-labelledby="nav2-Details-Tab" tabindex="1">
                            <div class="button3">
                                <button type="button" id="UpdateItem" class="btn btn-outline-dark" value="">Update</button>
                                <button type="button" id="ShowResultsList" class="btn btn-outline-dark" value="">Results</button>
                            </div>
                            <div class="DetailProjectItem">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav2-Result" role="tabpanel" aria-labelledby="nav2-Result-Tab" tabindex="1">
                            <div class="button4">
                                <button class="btn btn-outline-primary" id="AddResult" type="button" value="">Add Result</button>
                            </div>
                            <div class="ShowResultsList">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-Gantt" role="tabpanel" aria-labelledby="nav-Gantt-tab" tabindex="0">..4</div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        /* Project Details Show */
        $(document).on('click', '#process', function (e) {
            process($(this).attr("value1"), $(this).attr("value2"), $(this));
        });
        /* Adding sub steps to projects */
        $(document).on('click', '#AddNewItem', function (e) {
            $.ajax({
                url: '/Project/CreateProjectItem',
                data: { 'id': $(this).attr("value1") },
                success: function (partialView) {
                    $('.NewProjectItems').before(partialView);
                }
            });
            $('#formm').attr('action', '/Project/CreateProjectItem');
            $(this).prop('disabled', true);
        });
        /* Updating Project sub step*/
        $(document).on('click', '#UpdateItem', function (e) {
            $(".updateItem").removeAttr('disabled');
            createbuttons("#UpdateItem");
            $('#formm').attr('action', '/Project/UpdateProjectItem');
            $("#UpdateItem").attr('disabled', true);
        });
        $(document).on('click', '[id^="AddNewFile"]', function (e) {
            $.ajax({
                url: '/Project/NewFile',
                success: function (partialView) {
                    if (document.getElementById('NewProjectItems2') == null) {
                        const ff = '<tr ><td colspan="10" id="NewProjectItems2"></td></tr>';
                        $(".NewProjectItems").before(ff);
                    }
                    $("#NewProjectItems2").append(partialView);
                }
            });
        });
        /* Fill project details */
        $(document).on('click', '.Doldur', function (e) {
            $('.Doldur').parent().removeClass("table-active");
            $('.DelAlt').remove();
            $('#UpdateToDo').attr("value", $(this).attr("value1"));
            $('#ShowResultsList').attr("value", $(this).attr("value1"));
            $(this).parent().addClass("table-active");
            partial('Alt', $(this).attr("value1"))
        });
        $(document).on("click", "#FileDelete", function () {
            $(this).parent().parent().parent().remove();
        });
        /* DetailTodo nav-tab Show */
        $(document).on('click', '.doldurgstr', function (e) {
            $('.Doldur').parent().removeClass("table-active");
            activaTab($(this).attr("value"));
            $(this).parent().addClass("table-active");
        });
        /* Auto DetailTodo nav-tab Hide */
        $(document).click(function (e) {

            if ($("#nav-ItemDetail-tab").hasClass('active')) {
                $("#nav-ItemDetail-tab").prop('hidden', false);
            }
            else {
                $("#nav-ItemDetail-tab").prop('hidden', true);
            }
        });
        /* Results Area*/
        $(document).on('click', '#ShowResultsList', function (e) {
            $(".deldetail").remove();
            activaTab2("nav2-Result-tab", $(this).attr("value"));
            $('#formm').attr('action', '/Project/AddResult');
            $("#AddResult").attr('value', $(this).attr("value"));
        });
        /* Adding Results */
        $(document).on('click', '#AddResult', function (e) {
            $(".delResult0").remove();
            partial('AddResult', $(this).attr("value"));
        });


        /************************** Functions **************************/
        function process(zz, zy, qy) {
            $(".rowie").removeClass("table-active");
            qy.parent().addClass("table-active");
            partial('ProjectDetail', zz);
            partial('ProjectFill', zz);
        };
        function partial(partial, id) {
            $('.' + partial).empty();
            $.ajax({
                data: { 'id': id },
                url: '/Project/' + partial,
                success: function (partialView) {
                    $('.' + partial).append(partialView);
                }
            });
        };
        function activaTab(id) {
            $('.ProjectItemDetail').empty();
            partial('DetailProjectItem', id)
            $("#nav-ItemDetail-tab").prop('hidden', false);;
            $("#nav-ItemDetail-tab").click();
        };
        function activaTab2(tabb, id) {
            $('.del' + tabb).remove();
            partial('ShowResultsList', id)
            $("#" + tabb).click();
        };
        function createbuttons(partialarea) {
            const ff = '<span class="border border-1 border-start border-dark" style="margin-right:5px"></span>';
            $(partialarea).parent().append(ff);
            const btn1 = ' <button type="button" id="AddNewFile" class="btn btn-outline-dark" value="">New File</button>';
            $(partialarea).parent().append(btn1);
            const btn2 = '<input name="submit" type="submit" value="Save" class="btn btn-primary" /> ';
            $(partialarea).parent().append(btn2);
            const btn3 = '<a href="/Project/Index" class="btn btn-danger">Cancel</a>';
            $(partialarea).parent().append(btn3);
        };
    </script>
}
