@model SSProjectFollowUp.ViewModels.ProjectVM
<div class="buttons">
    <a asp-controller="CView" asp-action="CreateProject" class="btn btn-primary">Create New Project</a>
</div>
<div class="row ">
    <div class="col col-md-4" id="SolTam">
        <partial name="_Project.cshtml" /> @* Her zaman görünecek ama UserID e göre değişebilir *@
    </div>
</div>