<div class="del-choosecomp">

    @{
        if (ViewBag.assigned == 1)
        {
            <label>Choose method</label>
            <div class="row del-choosecomp">
                <button type="button" class="choosecomp col-6 btn btn-outline-primary " style="height:500px " value="a1">Request to join a team </button>
                <button type="button" class="choosecomp col-6 btn btn-outline-secondary" style="height:500px" value="a2">Create a Company</button>
            </div>
        }
        else
        {
            <div class="row del-choosecomp">
                <h3>Already assigned a team</h3>
                <h5>Waiting for approval</h5>
            </div>
        }
    }
</div>
