@model SSProjectFollowUp.ViewModels.AdminVM
@{
    if (Model.applicationUser0 != null)
    {
        <div>
            <label hidden class="control-label">Referance Name</label>
            <input readonly  hidden asp-for="userApproval.ToUserId" class="col-11 form-control" value="@Model.applicationUser0.Id" />
            <input readonly hidden asp-for="userApproval.ToUserMail" class="col-11 form-control" value="@Model.applicationUser0.Name" />
            <i class="bi bi-check-circle" style="font-size: 1.5rem;"></i>
        </div>
    }
    else
    {
        <div>
            <i class="bi bi-x-circle" style="font-size: 1.5rem;"></i>
        </div>
    }
}