@model SSProjectFollowUp.ViewModels.AdminVM
<button readonly id="" value="" value2="0" class="btn btn-success">History</button>
<div class="userapproval">
    <partial name="_UserApproval2" model="Model" />
</div>
