<h3 asp-for="CompanyName"></h3>

<div class=" row">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light col-3" style="width: 280px;height:700px;">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" id="Edit" value="Company" value2="0">
                    <svg class="bi pe-none me-2" width="16" height="16"></svg>
                    Company
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" id="Edit" value="Organization" value2="0">
                    <svg class="bi pe-none me-2" width="16" height="16"></svg>
                    Organization
                </a>
            </li>
            <li>
                <a class="nav-link link-dark" id="Edit" value="UserList" value2="0">
                    <svg class="bi pe-none me-2" width="16" height="16"></svg>
                    Company User
                </a>
            </li>
            <li>
                <a class="nav-link link-dark" id="Edit" value="Approval" value2="0">
                    <i class="bi bi-fire"></i>&nbsp;(0) Approval
                </a>
            </li>
        </ul>
        <hr>
    </div>
    <form asp-controller="" asp-action="" enctype="multipart/form-data" id="formm" class="col-9">
        <div class="col-9" style="width: 100%;height:100%;" id="Companyy">
        </div>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).on('click', '#Edit', function (e) {
            $("#Companyy").empty();
            partial('Management', $(this).attr("value"), $(this).attr("value2"))
        });
        $(document).on('click', '.choosecomp', function (e) {
            $("#Companyy").empty();
            partial('Choice', $(this).attr("value"),null);
        });
        $(document).on("click", "#usbe", function (e) {
            $(".SearchUser").empty();
            partial('SearchUser', $("#usbet").val(),null);
        });
        function partial(dir, ff, ss) {
            $.ajax({
                data: { 'ff': ff, 'ss': ss },
                url: '/Company/' + dir,
                success: function (partialView) {
                    $('#Companyy').append(partialView);
                }
            });
        }
    </script>
}